In [1]:
# Celda 1

# Importamos pandas para manipulación de datos
import pandas as pd  # pandas se utiliza para la lectura y manipulación de data frames

# Importamos numpy para operaciones numéricas
import numpy as np   # numpy sirve para trabajar con arreglos y funciones matemáticas

# Importamos matplotlib y seaborn para visualizaciones básicas
import matplotlib.pyplot as plt  # matplotlib permite crear gráficos básicos
import seaborn as sns            # seaborn se basa en matplotlib para gráficos estadísticos

# Configuramos el estilo de los gráficos para que se vean mejor
sns.set(style="whitegrid")       # seteamos un estilo de fondo con cuadrícula suave
plt.rcParams["figure.figsize"] = (10, 6) # establecemos un tamaño por defecto para los gráficos

In [2]:
# Celda 2

# Definimos la ruta de acceso a tu dataset
dataset_path = "../data/tu_dataset.csv"  # Ajusta la ruta según tu estructura de carpetas

# Leemos el CSV usando pandas
df = pd.read_csv(dataset_path)  # pd.read_csv() permite leer archivos CSV en un DataFrame de pandas

# Observamos las primeras filas para verificar que se haya cargado bien
df.head()  # head() muestra las primeras 5 filas del DataFrame

,ID,Fecha,Categoria,Ventas,Clientes,Region,Descuento,Satisfaccion
0,1,2023-01-01 00:00:00,D,92.69,1,Oeste,20,4.7
1,2,2023-01-01 01:00:00,E,219.01,29,Sur,5,3.0
2,3,2023-01-01 02:00:00,C,754.94,4,Oeste,5,4.6
3,4,2023-01-01 03:00:00,E,60.78,23,Norte,15,2.8
4,5,2023-01-01 04:00:00,E,497.61,28,Norte,15,2.1